MVC/Connected Services/GameReference/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDTO" nillable="true" type="tns:GameDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDTO" nillable="true" type="tns:ArrayOfGameDTO" />
  <xs:complexType name="GameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDTO" nillable="true" type="tns:GameDTO" />
</xs:schema>