MVC/Connected Services/NationalityService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNationalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NationalityDTO" nillable="true" type="tns:NationalityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNationalityDTO" nillable="true" type="tns:ArrayOfNationalityDTO" />
  <xs:complexType name="NationalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NationalityDTO" nillable="true" type="tns:NationalityDTO" />
</xs:schema>