MVC/Connected Services/StudentService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Student" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudent_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IStudent_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetStudentByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByID" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetStudentByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_PostStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:PostStudent" />
  </wsdl:message>
  <wsdl:message name="IStudent_PostStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_PutStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:PutStudent" />
  </wsdl:message>
  <wsdl:message name="IStudent_PutStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IStudent_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudent">
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Message" message="tns:IStudent_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/MessageResponse" message="tns:IStudent_Message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/GetStudents" message="tns:IStudent_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/GetStudentsResponse" message="tns:IStudent_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/GetStudentByID" message="tns:IStudent_GetStudentByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/GetStudentByIDResponse" message="tns:IStudent_GetStudentByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/PostStudent" message="tns:IStudent_PostStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/PostStudentResponse" message="tns:IStudent_PostStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/PutStudent" message="tns:IStudent_PutStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/PutStudentResponse" message="tns:IStudent_PutStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/DeleteStudent" message="tns:IStudent_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/DeleteStudentResponse" message="tns:IStudent_DeleteStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudent" type="tns:IStudent">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IStudent/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IStudent/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByID">
      <soap:operation soapAction="http://tempuri.org/IStudent/GetStudentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/PostStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/PutStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Student">
    <wsdl:port name="BasicHttpBinding_IStudent" binding="tns:BasicHttpBinding_IStudent">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary2022/Student/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>